.abody{
  background-color: #3735FF;
}

h1{
  font-family: 'Shrikhand', cursive !important;
}
h3{
  font-family: 'Josefin Slab', serif !important;
  font-size: 17px !important;
}

h4{
  font-family: 'Shrikhand', cursive !important;
}

p{
  font-family: 'Kreon', serif;
}
a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #FDA8F2 !important;
    text-decoration: none !important;
}
a:active {
  color: white;
  text-decoration: none;
}

.ca {
  margin:5%;
  background-color: #A1E1F8;
}

.padding/*Document padding -->*/{
    padding: 20px 20px 20px 20px;
}

.leftpadding{
  padding-left: 20px
}

.body{
  color: #1953FF;
}

.heading{
  color: white;
}

.buttons{
  height: 200px;
  margin: 10px;
  background-color: #3735FF;
  margin: 20px 20px 20px 20px;
}

.colpadding{
  margin: 20px 20px 20px 20px;

}

.footer {
    position: centre;
    left: 0;
    bottom: 0;
    background-color: #A1E1F8;
    color: #3735FF;
    margin: 0px 60px 60px 60px; 
}

.img-circ {
    border-radius: 50%;
    border: 6px solid #3735FF;
}

.margin {
    margin: 70px 70px 70px 70px;
}
