h1 {
  font-family: 'Lobster', cursive;
  text-align: center;
}

h4 {
  font-family: 'Lobster', cursive;
  font-size: 20px;
  margin-bottom: 5px;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 10px;
  margin-bottom: 2px;
}
